<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">
    <img src="/favicon.ico" width="32" height="32" alt="" />
  </a>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="/about"   routerLinkActive="active">About You</a>
      <a class="nav-item nav-link" routerLink="/login"   routerLinkActive="active">Login</a>
    </div>
  </div>
</nav>


<main>
	<router-outlet></router-outlet>
</main>


<footer>
  © 2017 DRIVN
</footer>
