<h3>
  Drivn IT Admin 2
</h3>

<p-tabView>
    <p-tabPanel header="Header 1">
       Content 1
    </p-tabPanel>
    <p-tabPanel header="Header 2">
        Content 2
    </p-tabPanel>
    <p-tabPanel header="Header 3">
        Content 3    
    </p-tabPanel>
</p-tabView>


<nav>
	<a [routerLink]="['/']">
    Home
  </a>
  |
	<a [routerLink]="['/about']">
    About
  </a>
  |
	<a [routerLink]="['/github', 'angular']">
    Github Repos
  </a>
  |
	<a [routerLink]="['/contact']">
    Contact Us
  </a>
</nav>

<main>
	<router-outlet></router-outlet>
</main>


<footer>
  © 2016
</footer>
